<!-- This partial exists because it is used in two places: the 'about' page and the landing page in order for the 'expanding cicle' effect to work -->

<header class="page-header">
  <h1 class="page-heading text-center">About Me</h1>
</header>

<p class="text-justify">I'm a 29 year old full stack software developer living in Portland, Oregon. I spent the last four years as a QA Test Technician and Test Engineer at <a href="https://www.mindbodyonline.com" target="_blank">MINDBODY</a>. Right now, I'm a student at Epicodus in Portland, Oregon learning some of the web's latest technologies and practices.</p>

<p class="text-justify">My parents owned a sign shop growing up, and it wasn't long before I fell in love with design, layouts, and typography. I taught myself how to use the graphic design program used for cutting out decals, and spent years designing decals and sticking them on everything I owned (you should have seen my school binders). When I wasn't creating designs at the shop, I was building things: rockets, remote control airplanes, computers, models. As a web developer, I get to use both of thse passions every time I work on a web project.</p>

<p class="text-justify">I'm passionate about the web's potential to positively affect people's lives at the most elemental level: the mind. I'm currently developing <em>KindMind.com</em>, a web app that brings leading mental health therapies to the web in order to help those affected by depression, anxiety, phobias, and more.</p>
