<header class="page-header">
  <h1 class="page-heading text-center">About</h1>
</header>

<p class="text-justify">Hi, I'm Garrett Olson. I grew up on on the California Central Coast and spent the last four years doing QA for <a href="https://www.mindbodyonline.com" target="_blank">MINDBODY</a>. Right now, I'm a student at Epicodus in Portland, Oregon learning full-stack web development.</p>

<p class="text-justify">Growing up,  I developed a love for graphic design, typography, and layouts. I'd spent countless hours on designs of all sorts, then cut them out onto vinyl. Web design allows me to use my creative talents in much the same way but with a different medium.</p>

<p class="text-justify">I'm passionate about the web's potential to positively affect people's lives on some of the most personal levels. I'm currently building KindMind.com, a web app that brings leading mental health therapies to the web.</p>
