<header class="page-header">
  <h1 class="page-heading text-center">About</h1>
</header>

<p class="text-justify">I grew up on on the California Central Coast and spent the last four years as a QA for <a href="https://www.mindbodyonline.com" target="_blank">MINDBODY</a>.</p>
