<div class="top-stripe">
</div>

<!-- <header class="page-header">
  <h1 class="page-heading text-center">About</h1>
</header> -->

<div id="about-wrapper">
  <p>
    Hi, I'm <strong>Garrett</strong>. I write software for a living.
  </p>

  <p>
    I build web apps that help people live happier lives, like <%= link_to "KindMind", "http://www.kindmind.com/", target: "_blank" %> and <%= link_to "KindJournal", "http://www.kindjournal.com/", target: "_blank" %>.
  </p>

  <p>
    I also like playing the guitar, backpacking, and puppies.
  </p>
</div>
