<div class="top-stripe">
</div>

<header class="page-header">
  <h1 class="page-heading text-center">About</h1>
</header>

<div id="about-wrapper">
  <p>
    My name is Garrett Olson, and I grew up in San Luis Obispo on the Central Coast of California. I studied Business at Cal Poly State University, and after graduating, discovered my real passion: programming. My first big break in software development came with an entry level QA position at MINDBODY. I haven't looked back since.
  </p>

  <p>
    I was at MINDBODY for four years and found myself in a few different roles. As a QA Test Technician, I was deep in the trenches of manual software testing. As QA Test Engineer, I designed and built software frameworks that automated the testing process, speeding up testing by a factor of 40 or more. As Scrum Master for two teams, I lead 16 talented professionals toward releasing software at two week intervals.
  </p>

  <p>
    For the last three years, my focus has been full stack development. My current passion is Ruby on Rails development, a fantastic framework that I love working with.
  </p>

  <p>
    Code has the power to change the world for the better, and that inspires and motivates me. I'm currently developing KindMind, a web app that brings leading mental health tools to the web. When I'm not coding, I like taking long bike rides through the countryside on my electric bike, backpacking, and spending time with my girlfriend, Lindsay.
  </p>
</div>
