<div class="top-stripe">
</div>

<header class="page-header">
  <h1 class="page-heading text-center">About</h1>
</header>

<div id="about-wrapper">
  <p>
    My name is Garrett Olson, and I grew up in San Luis Obispo on the Central Coast of California. I studied Business at Cal Poly State University, and after graduating, discovered my real passion: programming. My first big break in software development came with an entry level QA position at MINDBODY. I haven't looked back since.
  </p>

  <p>
    I was at MINDBODY for four years and found myself in a few different roles. As a QA Test Technician, I was deep in the trenches of manual software testing. As QA Test Engineer, I designed and built software frameworks that automated the testing process, speeding up testing by a factor of 40 or more. As Scrum Master for two teams, I lead 16 talented professionals toward releasing software at two week intervals.
  </p>

  <p>
    For the last three years, my focus has been full stack development. My current passion is Ruby on Rails development, a fantastic framework that I loving working with.
  </p>

  <p>
    'Code' has the power to change the world for the better, and that inspires and motivates me. I'm currently developing KindMind, a web app that brings leading mental health tools to the web.
  </p>

  <p>
    When I'm not coding, I like taking long bike rides through the countryside on my electric bike, backpacking, and spending time with my girlfriend, Lindsay.
  </p>
</div>

<% if false %>
  <!-- This partial exists because it is used in two places: the 'about' page and the landing page in order for the 'expanding cicle' effect to work -->
  <header class="page-header">
    <h1 class="page-heading text-center">About</h1>
  </header>

  <div id="about-wrapper">
    Web Developer. Product Craftsman. Obsessed with creating beautiful products. Loves Ruby, puppies, and electric bikes.
  </div>

  <p class="text-justify">I love coding, backpacking, and electric bikes. I also love building things and have a long history of designing, fixing, constructing, and figuring out the fine details of how things work. I'm in constant pursuit of simplicity, and I try to reflect that in my code and designs.</p>

  <p class="text-justify">I spent the last four years as a QA Test Technician, Test Engineer, and Scrum Master at <a href="https://www.mindbodyonline.com" target="_blank">MINDBODY</a>. I started developing personal projects with Ruby on Rails in my spare time and quickly realized I'd found my <i>dream</i> career. So I dropped everything and moved to Portland in pursuit of becoming a developer. I joined a code school called Epicodus where I spent eight hours a day for four months learning the latest web development technologies and practices. Right now, I'm interning with the talented team at <a href="http://www.eyecuelab.com/" target="_blank">EyeCue Lab</a> as a backend Ruby on Rails developer.</p>
<% end %>
