<div class="top-stripe">
</div>

<header class="page-header">
  <h1 class="page-heading text-center">Garrett Olson</h1>
</header>

<div id="about-wrapper">
  <p>
    Hey! I'm Garrett. I write software for a living in Portland, Oregon.
  </p>

  <p>
    I'm currently a Software Engineer at <%= link_to "Rumblefish", "http://rumblefish.com/", target: "_blank" %>. I also build web apps that help people live happier lives, like <%= link_to "KindMind", "http://www.kindmind.com/", target: "_blank" %> and <%= link_to "KindJournal", "http://www.kindjournal.com/", target: "_blank" %>. Usually in Ruby.
  </p>

  <p>
    When I'm not coding, I'm probably playing the guitar, backpacking, or riding my electric bike to far flung places.
  </p>
</div>
