<link href='https://fonts.googleapis.com/css?family=PT+Serif' rel='stylesheet' type='text/css'>

<div id="real-hq-wrapper">
  <p class="intro">Hey there, RealHQ!</p>

  <p>
    I’m Garrett, and I'm applying for the Support Developer position. The link to my resume is just off to the left in the sidebar. I'd like to tell you a  bit about myself and why I would be great in this role.
  </p>

  <p>
    Problem solving is in my blood. At MINDBODY, I was #1 in the 29-person QA department for average number of 'software defects' found and logged each month. In my current role as a Software Engineer at <%= link_to "Rumblefish", "http://rumblefish.com/", target: "_blank" %>, finding and fixing bugs is one of my favorite parts about the job.
  </p>

  <p>
    I also have sharp eye for attractive design and intuitive workflows. I've been developing two production Rails apps in my free time over the last year: <%= link_to "KindMind.com", "http://www.kindmind.com/", target: "_blank" %> and <%= link_to "KindJournal.com", "http://www.kindjournal.com/", target: "_blank" %>. Both sites were built from the ground up, including all design work.
  </p>

  <p>
    I've been developing with Ruby on Rails for about two years outside of work. I consider myself a Junior-ish to Midlevel-ish Rails developer—comfortable developing in the framework while still learning and getting better each day. My passion is full stack development, and I enjoy working in the front-end just as much as the back-end.
  </p>

  <p>
    Those are a few highlights of what I would bring to this role. I hope I'll have the opportunity to go over them in more detail. Thank you for your consideration.
  </p>
</div>
