<div id="resume-wrapper">

  <div class="row">
    <div class="col-md-6">
      <h3>Garrett Olson</h3>
      <h5>Web Developer</h5>
    </div>

    <div class="col-md-6 x-small">
      20 NW 16th Ave. #301, Portland, OR 97209
      805.835.3610 ▪ garrett.olson@kindmind.com ▪ www.garedean.com
    </div>
  </div>

  <section>

    <h4>Employment</h4>

    <hr>

    <div class="experience-block">
      <p>
        <strong>EYECUE LAB, Full Stack Web Developer Intern</strong>
        <em>Portland, OR (July 2015 - Present)</em>
      </p>
      <ul>
        <li>
          Developed a mobile web app that helps a Portland food charity feed 600 people each week through better inventory management
        </li>
        <li>
          Created functional wireframe prototypes for 30 workflows before development began in order to validate the user experience
        </li>
      </ul>
    </div>

    <div class="experience-block">
      <p>
        <strong>KINDMIND, Founder & Principle Developer</strong>
        <em>Portland, OR (2014 - Present)</em>
      </p>
      <ul>
        <li>
          Visionary for the ‘KindMind’ brand and product: using technology to improve the mental health and wellness of the world
        </li>
        <li>
          Created unique journaling tool where content auto-expands and flows upward on the page
        </li>
        <li>
          Developed full stack Ruby on Rails code base toward MVP release
        </li>
      </ul>
    </div>

    <div class="experience-block">
      <p>
        <strong>MINDBODY, QA Software Test Engineer & Scrum Master</strong>
        <em>San Luis Obispo, CA (June 2013 - March 2015)</em>
      </p>
      <ul>
        <li>
          Designed and developed three web browser automation frameworks that increased testing speed by as much as 40x over manual testing
        </li>
        <li>
          Lead eight professionals on two teams as Scrum Master—guided teams toward agile development practices, planned and facilitated team meetings, served as the voice of the team to management
        </li>
        <li>
          Served as Scrum Master for the most significant product redesign in the company’s history over a six month period
        </li>
      </ul>
    </div>

    <div class="experience-block">
      <p>
        <strong>MINDBODY, QA Software Test Technician</strong>
        <em>San Luis Obispo, CA (June 2011 - June 2013)</em>
      </p>
      <ul>
        <li>
          Wrote test cases and manually tested software features toward the goal of delivering bug-free features to 40,000 clients
        </li>
        <li>
          #1 in the company for average number of bugs logged each month out of 30 QA professionals and 900 total employees
        </li>
        <li>
          #1 in the company for total bugs logged in the tracking system: 1,567
        </li>
      </ul>
    </div>

    <div class="experience-block">
      <p>
        <strong>TARGET, Front End Team Leader</strong>
        <em>San Luis Obispo, CA (January 2011 - June 2011)</em>
      </p>
      <ul>
        <li>
          Managed 50 team members, two supervisors, and four departments in a store producing $30 million in annual revenue
        </li>
        <li>
          Promoted a 'fast and friendly' culture to best serve our guests and a positive, upbeat work environment for team members
        </li>
        <li>
          #1 in the company for total bugs logged in the tracking system: 1,567
        </li>
      </ul>
    </div>

    <div class="experience-block">
      <p>
        <strong>TARGET, Assets Protection Leader</strong>
        <em>San Luis Obispo, CA (2010 - 2011)</em>
      </p>
      <ul>
        <li>
          Lead all asset protection activities and training in store toward minimizing company losses
        </li>
        <li>
          Educated 200 team members about asset protection through regular ‘huddle’ talks and partnerships with each department
        </li>
        <li>
          Managed a complex network of 60 cameras, including regular installations of new equipment and upkeep of existing equipment
        </li>
      </ul>
    </div>
  </section>

  <section>

    <h4>Education</h4>

    <hr>

    <div class="experience-block">
      <p>
        <strong>EPICODUS</strong>
        <em>Portland, OR (April 2015 - September 2015)</em>
      </p>
      <ul>
        <li>
          Software development, graduate
        </li>
      </ul>
    </div>

    <div class="experience-block">
      <p>
        <strong>CAL POLY STATE UNIVERSITY</strong>
        <em>San Luis Obispo, CA (2007-2009)</em>
      </p>
      <ul>
        <li>
          Bachelor of Science, Business Administration
        </li>
      </ul>
    </div>
  </section>

  <section>
    <h4>Additional Experience</h4>

    <hr>

    <ul>
      <li>
        Toastmasters Competent Communicator, Competent Leader, past Area Governor, past President
      </li>
      <li>
        Founder and President of Cal Poly State University’s first Toastmasters club in the university’s history
      </li>
    </ul>
  </section>

  <section>
    <h4>Languages and Technologies</h4>

    <hr>

      Ruby, Ruby on Rails, C#, .NET, JavaScript, jQuery, SQL, Git, Selenium, Capybara, Cucumber, HTML, CSS
  </section>
</div>
