<header class="page-header">
  <h1 class="page-heading text-center">Edit Post</h1>
</header>

<% content_for(:submit_text, "Update") %>

<%= render "form" %>

<% if admin? %>
  <footer>
    <div class="pull-right footer-links">
      <a href="#" id="submit-form-link" class="clickable">Update Post<span>
    </div>
    <span>
  </footer>
<% end %>
