<header class="page-header">
  <h1 class="text-center">Journal</h1>
</header>

<ul class="blogs-wrapper">
  <% @blogs.each do |blog| %>
    <li>
      <%= link_to blog_path(blog) do %>
        <span>
          <%= blog.title %>
        </span>

        <span>
          <%= blog.created_at.strftime("%b %-d, %Y") %>
        </span>
      <% end %>
    </li>
  <% end %>
</ul>

<% if admin? %>
  <footer>
    <%= link_to new_blog_path, class: "add pull-right" do %>
      <span class="glyphicon glyphicon-plus"></span>
    <% end %>
  </footer>
<% end %>
