<header class="page-header">
  <h1 class="page-heading text-center">Posts</h1>
</header>

<ul class="blogs-wrapper">
  <% @blogs.each do |blog| %>
    <li>
      <%= link_to blog_path(blog) do %>
        <span>
          <%= blog.title %>
        </span>

        <span>
          <%= blog.created_at %>
        </span>
      <% end %>
    </li>
  <% end %>
</ul>

<footer>
  <% if user_signed_in? %>
    <%= link_to new_blog_path, class: "add pull-right" do %>
      <span class="glyphicon glyphicon-plus"></span>
    <% end %>
  <% end %>
</footer>
