<% content_for :custom_styles do %>
  <% if admin? %>
    .project-list li:hover {
      background: #fafafa;
      cursor: default;
    }
  <% end %>
<% end %>

<header class="page-header">
  <h1 class="text-center">Work</h1>
</header>

<ul class="project-list">
  <% @projects.each do |project| %>
    <li id="project_<%= project.id %>">
      <%= link_to "#{project.name}:", "#{project.url}", target: "_blank" %>
      <%= project.description %>
    </li>
  <% end %>
</ul>

<% if admin? %>
  <footer>
    <span class="pull-right footer-links">
      <%= admin_link_to "Add / Edit", edit_multiple_projects_path %>
    </span>
  </footer>
<% end %>
