<%= form_tag update_multiple_endorsements_path, id: "update_multiple", method: :put do %>
  <div id="sortable_elements_wrapper">
    <% @endorsements.each do |endorsement| %>
      <%= fields_for "endorsements[]", endorsement do |f| %>
        <!-- <div class="form-group" id="endorsement_<%= endorsement.id %>"> -->
        <div class="form-group">
          <%= f.text_area :quote, class:"form-control" %>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>
