<header class="page-header">
  <h1 class="page-heading text-center">
    Add / Edit References
  </h1>
</header>

<p class="text-center">
  <i class="text-xs">
    —To delete a reference, erase all content from text area and update—<br>
    —To change order, drag reference to desired position and update—
  </i>
</p>

<div id="endorsements_form_wrapper">
  <%= render "form" %>
</div>

<% if admin? %>
  <footer>
    <span class="pull-right footer-links">
      <%= link_to "Update", endorsements_path %> |
    <span>
  </footer>
<% end %>


<!-- Initialize sortable functionality for endorsements. Railscasts Episode #147 Sortable Lists  -->
<script>
  $("#sortable_elements_wrapper").sortable({axis: 'y'});
</script>
