<style>
  .fixed-column-inner {
    max-width: 570px;
    margin: auto;
    margin-bottom: 50px;
  }
  .fixed-column {
    max-width: 900px;
  }
</style>

<div class="fixed-column-inner">
  <header class="page-header">
    <h1 class="page-heading text-center">
      References
    </h1>
  </header>

  <p class="text-justify">This page lists some pieces of feedback I've received from people I've worked with. These were <i>anonymously</i> submitted by coworkers—developers, QA professionals, project managers, and managers—as part of annual 360 performance reviews.</p>

<hr>

</div>

<ul class="endorsements-list">
  <% for endorsement in @endorsements %>
    <li id="endorsement_<%= endorsement.id %>">
      <%= endorsement.quote %>
    </li>
  <% end %>
</ul>

<% if admin? %>
  <footer>
    <span class="pull-right footer-links">
      <%= admin_link_to "Add / Edit", edit_multiple_endorsements_path %>
    </span>
  </footer>
<% end %>
