Edit all

<%= form_for :reference, :url => update_all_path, :html => { :method => :put } do %>
  <table>
    <tr>
      <th>Quote</th>
    </tr>
    <% @references.each do |reference| %>
      <%= fields_for "reference[]", reference do |reference_fields| %>
        <tr>
          <td><%= reference_fields.text_field :quote %></td>
        </tr>
      <% end %>
    <% end %>
  </table>

  <div class="actions">
    <%= submit_tag %>
  </div>
<% end %>
