

<header class="page-header">
  <h1 class="page-heading text-center">
    References
  </h1>
</header>

<p class="text-justify">This page lists some pieces of feedback I've received I've received from coworkers over the last few years. Most of these were anonymously collected from team members as part of annual '360 survey' performance reviews.</p>

<hr>

<ul class="references-list">
  <% for reference in @references %>
    <li id="reference_<%= reference.id %>">
      <%= reference.quote %>
    </li>
  <% end %>
</ul>

<% if admin? %>
  <footer>
    <span class="pull-right footer-links">
      <%= admin_link_to "Edit all", edit_multiple_references_path %>
    </span>
  </footer>
<% end %>
