#github-contact-wrapper {
  margin-top: 60px;
  h4 {
    margin-bottom: 25px;
  }
}

#message-contact-wrapper {
  margin-top: 70px;
  //padding: 5px 15px;
  //border: 1px solid #e3e3e3;
  form {
    margin-top: 25px;
  }
  h4 {
    margin-bottom: 25px;
  }
  textarea {
    box-sizing: content-box;
  }

  .material-textarea {
    height: 54px;
  }
}
