.endorsements-list {
  margin-top: 30px;
  font-style: italic;
  font-size: 1em;
  text-align: justify;
  li {
    padding: 10px;
    width: 60%;
    background: #FAFAFF;
    border: 1px solid #eee;
    border-radius: 10px;
    margin: 20px 0;
  }
  li:nth-child(odd) {
    text-align: left;
  }
  li:nth-child(even) {
    margin-left: 40%;
    text-align: right;
  }
}

#new_endorsement {
  margin-top: 30px;
}

#update_multiple {
  margin-top: 25px;
  .form-control {
    border: none;
    border-right: 1px solid #ddd;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}

.text-xs {
  font-size: .75em;
}

#endorsements_form_wrapper {
  .actions {
    margin-top: 15px;
  }
}
