#endorsements-list {
  margin-top: 20px;
  font-style: italic;
  font-size: 1em;
  text-align: justify;
  .row {
    font-size: .9em;
    padding: 20px 0;
    &:nth-child(odd) {
      .endorsement {
        float: right;
      }
    }
    > div {
      background: #FAFAFA;
      width: 100%;
    }
  }
}

#new_endorsement {
  margin-top: 30px;
}

#update_multiple {
  margin-top: 25px;
  .form-control {
    border: none;
    border-right: 1px solid #ddd;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}

.text-xs {
  font-size: .75em;
}

#endorsements_form_wrapper {
  .actions {
    margin-top: 15px;
  }
}
