.references-wrapper {
  .references{
    width: 570px;
    display: none;
    margin-bottom: 0;

    /* Remove margin-bottom from last element, fixes
    bug with jQuery slideToggle where margins collapse after animation
    causing content to jump up on the page */
    > p:last-child {
      margin-bottom: 0;
    }
  }
  .hide-references {
    display: none;
  }
  &.expanded {
    .show-references {
      display: none;
    }
    .hide-references {
      display: inline;
    }
  }
}

.project-list {
  list-style-type: none;
  margin-top: -5px !important;
  text-align: justify;
  -webkit-margin-before: 0;
  -webkit-padding-start: 0;
  li {
    padding: 20px 0;
  }
}

#update_multiple {
  .form-group {
    border-bottom: 1px solid #eee;
    margin-bottom: 0;
  }
  .ui-sortable-handle {
    margin-bottom: 10px;
  }
}
