#resume-wrapper {
  margin-top: 60px;
  font-size: .8em;
  p {
    margin: 0;
  }
  ul {
    padding-left: 20px;
    font-size: .9em;
    li {
      list-style-type: disc;
    }
  }
  hr {
    margin: 5px;
  }
}
