#resume-wrapper {
  .row {
    margin-bottom: 30px;
    .col-md-4 {
      margin-bottom: 20px;
    }
  }
  h2 {
    margin: 35px 0;
  }
  p {
    margin: 0;
  }
  ul {
    font-size: .7em;
    li {
      line-height: 21px;
      margin-bottom: 11px;
    }
  }
  hr {
    margin: 30px 0;
    border-color: #e3e3e3;
  }
  section {
    margin-bottom: 35px;
  }
  .company-name {
    font-size: 1em;
  }
  .job-title {
    font-size: .9em;
  }
  .company-name,
  .job-title {
    font-weight: 800;
    line-height: 1em;
    margin-bottom: .6em;
  }
  .job-location,
  .job-time-period {
    font-size: .8em;
    font-weight: 500;
    line-height: 1.2;
  }
  .job-summary {
    margin-bottom: 5px;
  }
  .bullet-list {
    padding: 0;
    li {
      color: black;
      font-size: .8em;
      list-style-type: none;
      font-weight: 200;
    }
  }
}
