@import "bootstrap-sprockets";
@import "bootstrap";

html,
body {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Open Sans', sans-serif;
  color: #444;
  font-size: 20px;
  overflow: hidden;
}

.container {
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif !important;
  margin-bottom: 20px;
  color: #0099cc;
}

a {
  color: #0099cc;
  &:focus, &:hover {
    outline: none;
    text-decoration: none;
    text-decoration: none;
  }
  &:hover {
    background: #f1f1f1;
    color: #0099cc;
  }
  &:focus {
    color: #0099cc;
  }
}

nav {
  position: fixed;
  top:0;left:0;bottom:0;
  background-color: white;
  border-right: 1px solid #e3e3e3;
  padding-top: 30px;
  font-size: 1.2em;
  line-height: 1.5em;
  a {
    &.selected {
      background: #f1f1f1;
    }
  }
}

.page-header {
  border-bottom: 1px solid #e3e3e3;
  h1 {
    font-weight: 300;
    font-size: 2.5em;
  }
}

ul {
  list-style-type: none;
  -webkit-padding-start: 0px;
  padding-start: 0px;
}

.blogs-wrapper {
  li {
    margin: 30px 0;
    a {
      display: inline-block;
      width: 100%;
      span {
        &:last-child {
          float: right;
        }
      }
    }
  }
}

.article {
  text-align: justify;
}

.page-header {
  margin-bottom: 20px;
}

.nav-links li {
  list-style-type: none;
  margin-left: 0;
}

.portrait {
  height: 6em;
  width: 6em;
  display: block;
  margin: 30px auto 50px auto;
  border-radius: 100%;
  background: transparent image-url("portrait_1") center top no-repeat;
  background-size: cover;
  &:hover {
    background-image: image-url("portrait_2");
  }
}


.input-group-addon {
  border-radius: 0px;
}

p.comment-author {
  font-size: .8em;
  margin-bottom: 0px;
}

hr {
  border-top-color: #e3e3e3;
}

.x-small {
  font-size: .7em;
}

a.buttonize {
  border: 1px solid #0099cc;
  padding: 2px 20px;
  margin: 10px;
  box-sizing: border-box;
  display: inline-block;
  border-radius: 20px;
}

footer {
  position: fixed;
  bottom: 0; left: 180px; right: 0;
  background: white;
  border-top: 1px solid #e3e3e3;
  height: 50px;
  span {
    line-height: 50px;
  }
  .footer-links {
    margin-right: 15px;
  }
}

a.add {
  position: relative;
  top: -30px;
  right: 30px;
  height: 55px;
  width: 55px;
  border-radius: 50%;
  background: white;
  border: 1px solid #ccc;
  box-shadow: 0px 2px 8px #ccc;
  span {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 20px;
    width: 20px;
    font-size: 20px;
  }
}

input[type="submit"] {
  font-size: 1em;
  padding: 2px 20px;
  border-radius: 0px;
}

.large {
    font-size: 2em;
}

.project-list {
  > li {
    position: relative;
    .overlay {
      display: none;
    }
    .edit-delete-wrapper {
      visibility: hidden;
    }
    &:hover {
      .edit-delete-wrapper {
        visibility: visible;
      }
    }
  }
}

.edit-delete-wrapper {
  a {
    opacity: initial;
    &:hover {
      background: none;
    }
  }
  .edit {
    color: #84afd3;
    &:hover {
      color: #0099cc;
    }
  }
  .delete {
    color: #cb8e8d;
    &:hover {
      color: #a94442;
    }
  }
  .go-to {
    color: #8aac8a;
    &:hover {
      color: #3c763d;
    }
  }
}

.flash {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 2em;
  margin: 0;
  line-height: 2em;
  text-align: center;
  font-size: 1.3em;
  color: white;
  padding: 0;
  border: none;
  border-radius: 0;
  margin-bottom: 0;
  z-index: 9999;
  &.notice {
    background: #0099cc;
  }
  &.alert {
    background: #ff4c4c;
  }
}

.edit-logout-links {
  position: absolute;
  top: 5px;
  right: 15px;
  font-size: .8em;
}

.login-link {
  display: inline-block;
  position: absolute;
  top: 0; right: 0;
  height: 20px;
  width: 20px;
  &:hover {
    background: initial;
    cursor: default;
  }
}

.form-control {
  border-radius: 0px;
}

.blog-comments-wrapper {
  margin-top: 20px;
  li {
    padding: 5px 0;
    border-top: 1px solid #e3e3e3;
  }
}

.post-wrapper {
  border-bottom: 3px double #e3e3e3;
  padding-bottom: 20px;
  margin-bottom: 30px;
}

span.linkify {
  color: #0099cc;
  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

.line-through {
  text-decoration: line-through;
}

textarea {
  resize: none;
}

.top-stripe {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  min-height: 4px;
  background-color: #0099cc;
  z-index: 9999;
}

.clickable {
  &:hover {
    cursor: pointer;
  }
}

.ui-sortable-handle {
  padding-right: 15px;
  background-image: linear-gradient(-45deg, #ccc 25%, transparent 25%, transparent 50%, #ccc 50%, #ccc 75%, transparent 75%, transparent);
  background-size: 4px 4px;
  cursor: move;
  border: 1px solid #ddd;
}

#social-links-wrapper {
  position: absolute;
  left: 0; right: 0; bottom: 0;
  font-size: .6em;
  text-align: center;
  margin-bottom: 7px;
}

/* Scroll Bar Styling
/* ---------------------------------------------*/

::-webkit-scrollbar {
    height: 12px;
    width: 6px;
    background: #000;
}

::-webkit-scrollbar-thumb {
    background: #0099cc;
}

::-webkit-scrollbar-corner {
    background: #000;
}

::-webkit-scrollbar-track-piece {
	background: #ddd;
}

/* Media Queries */
/* ---------------------------------------------*/

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #endorsements-list {
    .row {
      > div {
        width: 66.66666667%;
      }
    }
  }
  footer {
    left: initial;
    border-top: 1px solid transparent;
  }

  .container {
    width: 812px;
  }
  #resume-wrapper {
    .company-name,
    p.job-title {
      margin-bottom: .6em;
      font-weight: 600;
    }
    .col-md-4 {
      span.job-title {
        display: none;
        font-weight: 600;
      }
    }
    .col-md-8 {
      p.job-title {
        display: block;
      }
    }
  }
  #project-tiles-wrapper {
    .project-screenshot {
      margin-bottom: 0px
    }
    .project-details {
      p {
        margin: 0;
      }
    }
  }
}

/* Extra Large Screens (large desktops, 1800px and up) */
@media (min-width: 1800px) {
  nav {
    width: 220px;
  }
  #content-container {
    margin-left: 220px;
  }
  body {
    font-size: 1.2em;
  }
}
