/*
 * Section 1 - Imports, Sass Variables
 * Section 2 - Global Styles
 * Section 3 - Page Structure
 * Section 4 - Media Queries
 */

/* ================== Section 1 - Imports, Sass Variables =================== */

@import "bootstrap-sprockets";
@import "bootstrap";
$brand-blue: #0099cc;

/* ================== Section 2 - Global Styles ============================= */

/* Scroll Bar Styling
/* ---------------------------------------------*/

::-webkit-scrollbar {
    height: 12px;
    width: 6px;
    background: #000;
}

::-webkit-scrollbar-thumb {
    background: $brand-blue;
}

::-webkit-scrollbar-corner {
    background: #000;
}

::-webkit-scrollbar-track-piece {
	background: #ddd;
}

/* Other Global Styles
/* ---------------------------------------------*/

.flash {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 2em;
  margin: 0;
  line-height: 2em;
  text-align: center;
  font-size: 1.3em;
  color: white;
  padding: 0;
  border: none;
  border-radius: 0;
  margin-bottom: 0;
  z-index: 9999;
  &.notice {
    background: $brand-blue;
  }
  &.alert {
    background: #ff4c4c;
  }
}

html,
body {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Open Sans', sans-serif;
  color: #444;
  font-size: 20px;
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 20px;
  color: $brand-blue;
}

a {
  color: $brand-blue;
  &:hover, &:focus {
    color: $brand-blue;
    outline: none;
    text-decoration: none;
    text-decoration: none;
  }
  &:hover {
    background: #f6f6f6;
  }
}

.page-header {
  border-bottom: 1px solid #e3e3e3;
  h1 {
    font-weight: 300;
    font-size: 2.5em;
  }
}

ul {
  list-style-type: none;
  -webkit-padding-start: 0px;
  padding-start: 0px;
}

hr {
  border-top-color: #e3e3e3;
}

.x-small {
  font-size: .7em;
}

a.buttonize {
  border: 1px solid $brand-blue;
  padding: 2px 20px;
  margin: 10px;
  box-sizing: border-box;
  display: inline-block;
  border-radius: 20px;
}

footer {
  position: fixed;
  bottom: 0; left: 220px; right: 0;
  background: white;
  border-top: 1px solid #e3e3e3;
  height: 50px;
  span {
    line-height: 50px;
  }
  .footer-links {
    margin-right: 15px;
  }
}

a.add {
  position: relative;
  top: -30px;
  right: 30px;
  height: 55px;
  width: 55px;
  border-radius: 50%;
  background: white;
  border: 1px solid #ccc;
  box-shadow: 0px 2px 8px #ccc;
  span {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 20px;
    width: 20px;
    font-size: 20px;
  }
}

input[type="submit"] {
  font-size: 1em;
  padding: 2px 20px;
  border-radius: 0px;
}

.large {
    font-size: 2em;
}

.form-control {
  border-radius: 0px;
}

span.linkify {
  color: $brand-blue;
  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

.line-through {
  text-decoration: line-through;
}

textarea {
  resize: none;
}

.top-stripe {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  min-height: 4px;
  background-color: $brand-blue;
  z-index: 9999;
}

.clickable {
  &:hover {
    cursor: pointer;
  }
}

.ui-sortable-handle {
  padding-right: 15px;
  background-image: linear-gradient(-45deg, #ccc 25%, transparent 25%, transparent 50%, #ccc 50%, #ccc 75%, transparent 75%, transparent);
  background-size: 4px 4px;
  cursor: move;
  border: 1px solid #ddd;
}

.glyphicon-menu-hamburger,
.glyphicon-remove {
  display: block;
  position: fixed;
  top: 10px;
  right: 10px;
  padding: 10px;
  font-size: 20px;
  color: #555;
  background-color: white;
  z-index: 2;
  &:hover {
    cursor: pointer;
    color: #333;
  }
}

.sidebar-name {
  font-size: 2em;
  font-weight: 600;
  color: #444;
  padding-left: 16px;
  line-height: 1em;
  margin-bottom: 7px;
}

.sidebar-summary {
  font-size: .8em;
  padding-left: 16px;
  margin-bottom: 30px;
}

#follow-icons {
  position: absolute;
  right: 0;bottom: 5px;left:0;
  text-align: center;
  .fa {
    color: #ddd;
    font-size: 1.5em;
    &.fa-linkedin-square,
    &.fa-envelope-square {
      margin-left: 18px;
    }
    &:hover {
      color: #08c;
    }
  }
  a:hover {
    background: initial;
  }
}

/* ======================= Section 3 - Page Structure ======================= */

#content-container {
  position: absolute;
  top:0;right:0;bottom:0;left:0;
  background-color: white;
  line-height: 1.5em;
  padding-top: 10px;
  padding-bottom: 100px;
  overflow-y: scroll;
  z-index: 9997;
}

nav {
  position: fixed;
  top:0;right:0;bottom:0;left:0;
  text-align: left;
  background-color: white;
  padding-top: 30px;
  font-size: 1em;
  line-height: 1.5em;
  text-align: center;
  z-index: 9996;
  li {
    color: #777;
    &.selected {
      color: $brand-blue;
      font-weight: #555;
    }
    a {
      color: inherit;
      display: block;
      &:hover {
        color: inherit;
      }
    }
  }
}

#page-wrapper.nav-shown {
  overflow: hidden;
  nav {
    z-index: 9998;
    .nav-links {
      padding: 0;
    }
  }
}

.nav-links li {
  list-style-type: none;
  margin-left: 0;
}

.portrait {
  height: 7.7em;
  width: 7.7em;
  display: block;
  margin: 30px auto 50px auto;
  border-radius: 100%;
  background: transparent image-url("portrait_sprite") center top no-repeat;
  background-position: 0px 0px;
  background-size: cover;
}

/* Override Bootstrap media query that sets width on container at 768px; keep container at 100% width until 992px */
.container {
  width: initial;
}

.edit-logout-links {
  position: absolute;
  top: 5px;
  right: 15px;
  font-size: .8em;
}

.login-link {
  display: inline-block;
  position: absolute;
  top: 0; right: 0;
  height: 20px;
  width: 20px;
  &:hover {
    background: initial;
    cursor: default;
  }
}

/* ======================= Section 4 - Media Queries ======================== */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .navicon-button {
    display: none;
  }
  #content-container {
    padding-top: 30px;
    left: 220px !important;
    overflow-y: scroll !important;
  }
  nav {
    left: 0;
    width: 200px;
    border-right: 1px solid #e3e3e3;
    text-align: left;
    .nav-links {
      text-align: left;
      li {
        padding-left: 20px;
        &:hover {
          background: #f6f6f6;
        }
        &.selected {
          padding-left: 16px;
          border-left: 4px solid $brand-blue;
        }
      }
    }
  }
  .sidebar-name {
    font-size: 1.3em;
  }
}

@media (min-width: 930px) {
  .container {
    width: 100%;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #endorsements-list {
    .row {
      > div {
        width: 66.66666667%;
      }
    }
  }
  footer {
    left: initial;
    border-top: 1px solid transparent;
  }

  .container {
    width: 812px;
  }
  #resume-wrapper {
    .company-name,
    p.job-title {
      margin-bottom: .6em;
      font-weight: 600;
    }
    .col-md-4 {
      span.job-title {
        display: none;
        font-weight: 600;
      }
    }
    .col-md-8 {
      p.job-title {
        display: block;
      }
    }
  }
  #project-tiles-wrapper {
    .project-screenshot {
      margin-bottom: 0px
    }
    .project-details {
      p {
        margin: 0;
      }
    }
  }
}

img#potluck_app {
  border: none;
}
/* Extra Large Screens (large desktops, 1800px and up) */
@media (min-width: 1800px) {
  #content-container {
    left: 220px !important;
  }
  body {
    font-size: 1.2em;
  }
  .portrait {
    &:hover {
      background-position: 0px -177px;
    }
  }
}
