<nav>
  <img src="https://secure.gravatar.com/avatar/7a254dc3cc8520bcc04564a66073b3f9?size=110" class="gravatar">

  <ul class="link-list">
    <li>
      <%= link_to 'Garrett Olson', home_path %>
    </li>
    <li>
      <%= link_to 'Blog', blog_path %>
    </li>
    <li>
      <%= link_to 'Projects', projects_path %>
    </li>
    <li>
      <a href="https://github.com/garedean" target="_blank">Github</a>
    </li>
  </ul>
</nav>
